<form novalidate [formGroup]="form">
  <ngx-combo-datepicker [ngClass]="filled?'filled':'placeHolded'"
    [attrsDate]="{ 'class': 'form-control', 'style': 'color: grey' }"
    [attrsMonth]="{ 'class': 'form-control', 'style': 'color: grey' }" [yearOrder]="'desc'"
    [attrsYear]="{ 'class': 'form-control', 'style': 'color: grey' }" formControlName="control" placeholder='YYYY,MM,DD'
    #datepick minDate="1950-01-01">
  </ngx-combo-datepicker>
</form>
