@import '../../../../theme/variables';
.mat-dialog-container {
    background: $theme;
    text-align: center;
    width: 500px !important;
}

.mat-dialog-content {
    font-size: 14px;
}

.mat-dialog-actions {
    justify-content: center;
    button{
      color: white !important;
    }
}

.dimiss {
    background: $blueTheme;
    width: 100%;
}
