.opener{
  position: fixed;
  width: 75px;
  top: 70px;
  right: 5px;
  cursor: pointer;
}
.hide{
  z-index: -1;
}
.show{
  z-index: 100;
}
.close{
  width: 35px;
  height: 35px;
  margin-top: 10px;
}
.close:hover{
  cursor: pointer;

  width: 50px;
  height: 50px;
  transition: width 0.2s, height 0.2s;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
