<!-- <img class="opener" (click)="_toggleOpened()" src="assets/img/mushroom.png" alt="help" /> -->


<ng-sidebar-container [ngClass]="myOpen==true?'show':'hide'" (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar [(opened)]="_opened" [mode]="_MODES[_modeNum]" [keyClose]="_keyClose"
    [position]="_POSITIONS[_positionNum]" [dock]="_dock" [dockedSize]="'50px'"
    [autoCollapseHeight]="_autoCollapseHeight" [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside" [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop" [animate]="_animate" [trapFocus]="_trapFocus" [autoFocus]="_autoFocus"
    [sidebarClass]="'demo-sidebar'" [ariaLabel]="'My sidebar'" (onOpenStart)="_onOpenStart()" (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()" (onClosed)="_onClosed()" (onTransitionEnd)="_onTransitionEnd()">
    <!-- <div class="column">

      <img class="close" (click)="_toggleOpened()" src="assets/img/error.png" />
    </div> -->

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IPXIgEAGe4U" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="_toggleOpened()" mat-button>CLOSE</button>
      </mat-card-actions>
    </mat-card>


    <!-- <p>Sidebar contents</p>
    <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button> -->

  </ng-sidebar>
</ng-sidebar-container>
