
<div class="container">
    <h2>Welcome to Dashboard</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
    </form>
</div>
