<div class="popup-container">
  <h3>Terms and Privacy Policy</h3>
  <p>
    I grant my permission to DOCTOR’S NAME to upload and store Confidential patient information - including account
    information, appointment information and clinical information - to the secured web site for DOCTOR’S NAME . I
    understand that, for security purposes, the site requires a user ID and password for access and use. I also
    understand DOCTOR’S NAME and myself are responsible for maintaining the strict confidentiality of any ID and
    password assigned to me; and that DOCTOR’S NAME is not liable for any charges, damages, or losses that may be
    incurred or suffered as a result of my failure to maintain confidentiality. I understand DOCTOR’S NAME is not liable
    for any harm related to the theft of my ID and password, my disclosure of my ID and password, or my authorization to
    allow another person or entity to access and use the DOCTOR’S NAME web site with my ID and password. I also agree to
    immediately notify DOCTOR’S NAME of any unauthorized use of my ID or of any other need to deactivate my ID due to
    security concerns. I also understand State and Federal laws, as well as ethical and licensure requirements impose
    obligations with respect to patient confidentiality that limit the ability to make use of certain services or to
    transmit certain information to third parties. I understand DOCTOR’S NAME will represent and warrant that they will,
    at all times during the term of this Agreement and thereafter, comply with all laws directly or indirectly
    applicable that may now or hereafter govern the gathering, use, transmission, processing, receipt, reporting,
    disclosure, maintenance, and storage of my patient information, and use their best efforts to cause all persons or
    entities under their direction or control to comply with such laws. I agree that DOCTOR’S NAME has the right to
    monitor, retrieve, store, upload and use my patient information in connection with the operation of such services,
    and is acting on my behalf in uploading my patient information. I understand DOCTOR’S NAME will use commercially
    reasonable efforts to maintain the confidentiality of all patient information that is uploaded to the website on my
    behalf.
    <br />
    We, DOCTOR’S NAME , offer the convenience of an on-line payment service as part of our on-going program to better
    serve our patients. You may apply a specific amount toward your outstanding balance using a major credit card, debit
    card or check. You remain responsible for any charges and accrued interest on all late payments.
    <br />
    Each time you initiate a transaction, you authorize us or our agent to draw a check or draft or initiate an
    automated clearing house (ACH) or depository transfer check (DTC) debit in your name to the financial account you
    specify in the amount you request, payable to us or to our agent, in the amount of the transaction. For each
    transaction your bank may assess its customary per-check or item-handling charge, if any. You also agree to pay us a
    service charge for each dishonored check or draft to reimburse us for any costs of collection. Your bank may also
    assess its customary charge for such items.
    <br />
    While you may apply payment toward an outstanding balance today the payment may not be posted to your account for
    five business days. Please call our office if you require assistance.
    <br />
    I understand DOCTOR’S NAME CANNOT AND DOES NOT ASSUME ANY RESPONSIBILITY FOR MY USE OR MISUSE OF PATIENT INFORMATION
    OR OTHER INFORMATION TRANSMITTED, MONITORED, STORED, UPLOADED OR RECEIVED USING THE SITE OR THE SERVICES.
    <br />
    I have read and understand the information above regarding the secure uploading of patient information to the web
    site and the acceptance of payments for DOCTOR’S NAME .

  </p>
  <span class="blue-btn" mat-raised-button (click)="continue()">Continue</span>
</div>