@import '../../../theme/variables';
.popup-container{
  width: 100%;


  p{
    text-align: justify;
  }

  .blue-btn {
    cursor: pointer;
    background: #39d4ff;
    padding: 10px 35px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    display: block;
    margin: 25px auto 25px;
    letter-spacing: 1.5px;
    font-family: 'ProximaNova-Semibold';
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    img{
      width: 18%;
    }
    @media (max-width: 767px) {
        width: auto;
        font-size: 14px;
    }
}

}


