//All the colors used in the app will be present here.
$primary:#ffffff;
$dark:#000000;
$theme:#fafafa;
$border:#f5f4f4;
$shadow:#bebebec5;
$blueTheme:#39d4ff;
$darkBlue:#18c1f0;
$sideBarActive:#00baff;
$greyTheme:#d8d8d8;
$headingNormColor:#747474;
$blockOpt:#c7c7c7;
$back:#9b9b9b;
$smallSize:12px;
$headingSize:14px;
$validation:#d80909b3;
$chatGreen:#33cd29;
$chatInput:#f1f4f4;
$shadowFormula:0 0px 1px 0px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
