@import "../../../theme/variables";

.ngcontainer {
    display: inline-block;
    width: 97px;
    height: 108vh;
    background: $primary;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px $shadow;
    z-index: 9999;

    &.disp {
        display: block;
    }

    .selected{
      background: #F5F5F5 !important;
    }
    @media (max-width: 750px) {
        display: none;
        width: 97px;
        transition: width 2s;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        position: absolute;
    }

    .logo {
        height: 12vh;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $border;

        img {
            width: 6vh;
        }
    }

    .options {
        @extend .logo;
        // height: 10vh;
        line-height: 3vh;

        img {
            width: 45px;
        }

        .mkt {
            width: 45px;
        }

        p {
            margin: 2px 0 0 0;
            color: $back;
            font-size: 11px;
        }

        .highlighted {
            color: #00baff;
        }
    }

    .optionsDisabled {
        @extend .logo;
        // height: 10vh;
        opacity: 0.35;
        background: white;
        color: #444;
        line-height: 3vh;

        img {

            width: 45px;
        }

        .mkt {
            width: 45px;
        }

        p {
            margin: 2px 0 0 0;
            color: $back;
            font-size: 11px;
        }

        .highlighted {
            color: $blueTheme;
        }
    }
}

.overlaying {
    position: absolute;
    width: 100%;
    height: 100%;
}
