<div class="ngcontainer" [ngClass]="{'disp': display == true}">
  <button class="logo" (click)="hide()" (click)="goTo('plan')" mat-button>
    <img src="assets/img/logo.png" alt="">
  </button>
  <button class="options"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    (click)="goTo('dashboard')" mat-button>
    <img *ngIf="!(loc.path() == '/home' || loc.path() == '/setup')" src="assets/img/home.svg" alt="">
    <img *ngIf="(loc.path() == '/home' || loc.path() == '/setup')" src="assets/img/home-blue.svg" alt="">
    <p [ngClass]="{'highlighted': (loc.path() == '/home' || loc.path() == '/setup')}">Dashboard</p>
  </button>
  <button class="options" (click)="goTo('scheduling')"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    mat-button>
    <img class="schedule" *ngIf="!(loc.path() == '/scheduling')" src="assets/img/calendar.svg" alt="">
    <img class="schedule" *ngIf="loc.path() == '/scheduling'" src="assets/img/calendar-blue.svg" alt="">
    <p [ngClass]="{'highlighted': loc.path() == '/scheduling'}">Scheduling</p>
  </button>
  <button class="options"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    (click)="goTo('chat')" mat-button>
    <img *ngIf="loc.path() != '/chat'" src="assets/img/chat.svg" alt="">
    <img *ngIf="loc.path() == '/chat'" src="assets/img/chat-blue.svg" alt="">
    <p [ngClass]="{'highlighted': loc.path() == '/chat'}">Chat</p>
  </button>
  <button class="options" (click)="goTo('call')"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    mat-button>
    <img *ngIf="loc.path() != '/call'" src="assets/img/call.svg" alt="">
    <img *ngIf="loc.path() == '/call'" src="assets/img/call-blue-light.svg" alt="">
    <p [ngClass]="{'highlighted': loc.path() == '/call'}">Call</p>
  </button>
  <button class="options" (click)="goTo('refer')"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    mat-button>
    <img *ngIf="loc.path() != '/refer'" src="assets/img/refer-dark.svg" alt="">
    <img *ngIf="loc.path() == '/refer'" src="assets/img/refer-blue.svg" alt="">
    <p [ngClass]="{'highlighted': loc.path() == '/refer'}">Refer</p>
  </button>
  <button class="options" (click)="goTo('social')"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    mat-button>
    <img *ngIf="loc.path() != '/social'" src="assets/img/social-dark.svg" alt="">
    <img *ngIf="loc.path() == '/social'" src="assets/img/social-blue.svg" alt="">
    <p [ngClass]="{'highlighted': loc.path() == '/social'}">Social</p>
  </button>
  <button class="options" (click)="goTo('settings')"
    [ngClass]="{'optionsDisabled': (user == null || (user != null && (user.init_payment == false || user.first_setup == false)))}"
    mat-button>
    <img *ngIf="!isSettingsRoute()" src="assets/img/settings.svg" alt="">
    <img *ngIf="isSettingsRoute()" src="assets/img/settings-blue.svg" alt="">
    <p [ngClass]="{'highlighted': loc.path() == '/settings'}">Settings</p>
  </button>

  <button class="options" (click)="goTo('login')" *ngIf="user == null" mat-button>
    <img src="assets/img/login.svg" alt="">
    <p [ngClass]="{'highlighted': currentPage == '/login'}">Login</p>
  </button>
  <button class="options" (click)="logout()" *ngIf="user != null" mat-button>
    <img src="assets/img/login.svg" alt="">
    <p>Logout</p>
  </button>
</div>
<!-- <div class="overlaying"></div> -->