<div class="ngcontainer">
  <form *ngIf="options.type == 'edit'">
    <div class="form-row">
      <div class="form-two-col">
        <label>{{options.text}}</label>
        <!-- <input *ngIf="options.rich == undefined " [(ngModel)]='statement' type="text" minlength='5' autocomplete="off"
          name="statement" /> -->
        <ckeditor [config]="configRich" *ngIf="options.rich != undefined" [(ngModel)]='statement' [editor]="Editor"
          name="statement"></ckeditor>
        <ckeditor [config]="config" *ngIf="options.rich == undefined" [(ngModel)]='statement' [editor]="Editor"
          name="statement">
        </ckeditor>

      </div>
    </div>
    <div class="btn-row">
      <button class="gray-btn" (click)="cancel()" mat-raised-button>Cancel</button>
      <button class="blue-btn" (click)="done()" mat-raised-button>Save</button>
    </div>
  </form>


  <form *ngIf="options.type == 'new' && options.from == undefined">
    <div class="form-row-new">
      <div class="form-two-col-new">
        <label>Question</label>
        <input [(ngModel)]='statement' value='statement' type="text" minlength='5' autocomplete="off"
          name="statement" />
      </div>

      <div class="form-two-col-type">
        <label>type</label>
        <mat-select [(value)]="selectedType">
          <mat-option value="text">Text</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="number">Number</mat-option>
          <mat-option value="number">Date</mat-option>
          <mat-option value="radio">Multi Choice</mat-option>
        </mat-select>
      </div>
    </div>

    <div *ngIf="selectedType == 'radio'" class="multi-options-div">
      <div *ngFor="let choice of multiChoices; let i = index" class="multi-row">
        <img src="assets/img/white_circle.png">
        <input type="text" [ngClass]="multiChoices[i].error == true? 'red-error': '' "
          [(ngModel)]="multiChoices[i].option" minlength='2' autocomplete="off" name="{{i}}" />
        <img (click)='removeChoice(i)' class="bin" src="assets/img/dustbin.png">
      </div>
      <div *ngIf="multiChoices.length < 10" (click)="addMultiChoice()" class="add-question-row">
        <img src="assets/img/plus.png" alt="plus" />
        <span> Add another option</span>
      </div>
      <div *ngIf="multiChoices.length >= 10" class="add-question-row">
        <span class="red"> Maximum number of options reached</span>
      </div>
    </div>
    <div class="btn-row">
      <button class="gray-btn" (click)="cancel()" mat-raised-button>Cancel</button>
      <button class="blue-btn" (click)="done()" mat-raised-button>Save</button>
    </div>
  </form>

  <form *ngIf="options.type == 'new' && options.from == 'service'">
    <div class="form-row-new">
      <div class="form-two-col-new">
        <label>New Service Description</label>
        <input [(ngModel)]='statement' value='statement' type="text" minlength='5' autocomplete="off"
          name="statement" />
      </div>

      <div class="form-two-col-type">
        <label>Duration</label>
        <div class="duration_row">
          <h2>{{hours }}:{{minutes}}</h2>
          <img (click)='addTime(i)' src='assets/img/up-chevron.png' alt='plus'>
          <img (click)='removeTime(i)' src='assets/img/down-chevron.png' alt='plus'>
        </div>
      </div>
    </div>

    <div *ngIf="selectedType == 'radio'" class="multi-options-div">
      <div *ngFor="let choice of multiChoices; let i = index" class="multi-row">
        <img src="assets/img/white_circle.png">
        <input type="text" [ngClass]="multiChoices[i].error == true? 'red-error': '' "
          [(ngModel)]="multiChoices[i].option" minlength='2' autocomplete="off" name="{{i}}" />
        <img (click)='removeChoice(i)' class="bin" src="assets/img/dustbin.png">
      </div>
      <div *ngIf="multiChoices.length < 10" (click)="addMultiChoice()" class="add-question-row">
        <img src="assets/img/plus.png" alt="plus" />
        <span> Add another option</span>
      </div>
      <div *ngIf="multiChoices.length >= 10" class="add-question-row">
        <span class="red"> Maximum number of options reached</span>
      </div>
    </div>
    <div class="btn-row">
      <button class="gray-btn" (click)="cancel()" mat-raised-button>Cancel</button>
      <button class="blue-btn" (click)="done()" mat-raised-button>Save</button>
    </div>
  </form>


</div>
