@import '../../../theme/variables';
.ngcontainer{
  width: 100%;
}
ckeditor{
  font-family: "ProximaNova-Regular";
  .ck-sticky-panel{
    display: none;
  }
  .ck-content{
    border-radius: 4px !important;
  }
}
form, .form-class {
  .btn-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
  }

  .red{
    color: red !important;
  }
  .form-row {
      display: flex;
      justify-content: space-between;
      margin: 25px 0 0;

      @media (max-width: 767px) {
          margin: 0px !important;
          flex-wrap: wrap;
          flex-direction: column;

      }

      .mat-radio-button{
        display: flex !important;
        .mat-radio-label{
          display: flex !important;
          align-items: center !important;
          .mat-radio-outer-circle{
            border: 3px solid #18c1f0 !important;
            border-radius: 50% !important;
          }
          .mat-radio-inner-circle{
            background-color: #18c1f0 !important;
          }
          .mat-radio-checked {
            .mat-radio-inner-circle{
              transform: scale(1) !important;
            }

          }

        }
      }

      .form-one-col {
          width: 100%;
      }

      .form-two-col {
          width: 100% !important;

          @media (max-width: 767px) {
              width: 100%;
              border-right: none;
          }
      }

      .form-three-col {
          width: 32%;

          @media (max-width: 767px) {
              width: 100%
          }
      }

      label {
        display: block;
        color: #9B9B9B;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 16px;
        letter-spacing: 1.5px;
        font-family: 'ProximaNova-Regular';

          @media (max-width: 767px) {
            margin-top: 10px;
          }
      }

      input {
          width: -webkit-fill-available;
          border: 1px solid transparent;
          background: rgb(241, 244, 244);
          padding: 15px 10px;
          border-radius: 7px;
          outline: none;
      }

      input {
          &.active {
              background: #fff !important;
              border: 1px solid rgb(238, 238, 238);
              box-shadow: 0 3px 10px rgba(192, 192, 192, 0.5);
          }
      }


  }

  .cus-check-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: 767px){
        margin-top: 10%;
      }

      label {
          span {
              border: 3px solid $darkBlue;
              border-radius: 50%;
              width: 15px;
              height: 15px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              @media (max-width: 767px){
                margin-right: 4px !important;
              }
          }
      }

      input {
          display: none;

          &:checked~label {
              span {
                  background: $darkBlue;
              }
          }
      }

      .item-check {
          flex: 1;
      }

      .box {
          display: inline-block;
          vertical-align: middle;
          @media (max-width: 767px){
            display: inline !important;
          }
      }

      .statement {
          display: inline-block;
          font-size: 14px;
          letter-spacing: 0.20px;
          line-height: 1;
          font-family: 'ProximaNova-Light';
          color: $back;
          vertical-align: middle;

          @media (max-width: 767px){
            vertical-align: text-bottom !important;
            display: inline !important;
          }
      }



  }

  .blue-btn {
      background: #39d4ff;
      padding: 5px 35px;
      font-size: 18px;
      color: #fff;
      border-radius: 5px;
      text-transform: uppercase;
      width: 150px;
      text-align: center;
      display: block;
      margin: 0 !important;
      letter-spacing: 1.5px;
      font-family: 'ProximaNova-Semibold';

      @media (max-width: 767px) {
          width: auto;
          font-size: 14px;
      }
  }
  .gray-btn{
    @extend .blue-btn;
    background: #9B9B9B;
  }

  .form-row-new{
    @extend .form-row;
    display: flex;
    flex-direction: row;

    .form-two-col-new{
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      }
    .form-two-col-type{
      width: 20%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .duration_row{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          width: 20%;
          padding: 0 1%;
        }
        h2{
          margin-right: 10% !important;
          font-family: "ProximaNova-SemiBold";
          font-size: 20px;
          letter-spacing: 0.5px;
          color: #9B9B9B;
          padding-right: 1%;
          padding-left: 1%;
        }
      }

    }
  }

  .multi-options-div{
    .multi-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 5%;
      img{
        width: 5%;
      }
      .red-error{
        background: red !important;
        opacity: 0.7;
      }
      .bin{
        padding-left:33%;
        cursor: pointer;
      }
      input {
          width: -webkit-fill-available;
          border: 1px solid transparent;
          background: #f1f4f4;
          padding: 15px 10px;
          border-radius: 7px;
          outline: none;
          width: 40%;
          margin-left: 3%;
      }

        input {
            &.active {
                background: #fff !important;
                border: 1px solid rgb(238, 238, 238);
                box-shadow: 0 3px 10px rgba(192, 192, 192, 0.5);
            }

        }
    }
    .add-question-row{
      margin-left: 20px !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5%;
      cursor: pointer;
      img{
        width: 5%;

      }

      span{
        margin-left: 2%;
        color: #9b9b9b;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        font-family: 'ProximaNova-Light';
      }
    }

  }
}
