@import '../../../../theme/variables';

.mat-dialog-container {
    background: $theme;
    text-align: center;
}

.mat-dialog-content {
    font-size: 14px;
    max-width: 40vw;

    @media (max-width: 768px) {
        max-width: 80vw;
    }
}

.mat-dialog-actions {
    justify-content: center;
}

.dimiss {
    background: $blueTheme;
    width: 100%;
    color: #fff;
    padding: 10px 50px;
    font-size: 16px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family: 'ProximaNova-Semibold';

    @media (max-width: 750px) {
        white-space: normal;
        line-height: 20px;
    }
}

.item {
    font-family: 'ProximaNova-Semibold';
    letter-spacing: 1.0;
    padding-left: 5px !important;
    cursor: default;

    .mat-list-item-content {
        font-size: 20px !important;
    }

    &:hover {
        background: $greyTheme;
    }
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $blueTheme;
}

.spinner {
    text-align: center;
    margin-top: 5px;

    .mat-progress-spinner {
        display: inline-block !important;
    }
}

.mat-list-item-content {
    padding: 0 !important;
    font-size: 15px;
}

.mat-dialog-actions {
    margin-bottom: 0 !important;
}

.desc {
    max-width: 35vw;
    font-size: 18px;
    text-align: left;
    font-weight: bold;

    @media (max-width: 750px) {
        max-width: 80vw;
    }
}

.field {
    width: 100%;

    input {
        width: -webkit-fill-available;
        border: 1px solid transparent;
        background: rgb(241, 244, 244);
        padding: 15px 10px;
        border-radius: 7px;
        font-size: 16px;
        outline: none;
        margin-bottom: 10px;
    }
}