<div class="content">


  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="options.maintain" [aspectRatio]="1 / 1"
    [resizeToWidth]="0" [alignImage]="center" format="png" (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
    cropperMinHeight="280">
  </image-cropper>
  <button class="blue-btn" (click)="done()" mat-raised-button>Done</button>
</div>
