.mat-dialog-container{
  padding: 10px !important;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .blue-btn {
    background: #39d4ff;
    padding: 6px 50px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    display: block;
    margin: 2px auto 2px;
    letter-spacing: 1.5px;
    font-family: "ProximaNova-Semibold";
    img{
      width: 18%;
    }
    @media (max-width: 767px) {
        width: auto;
        font-size: 14px;
    }
}
}
