<h2 mat-dialog-title>Select Theme</h2>

<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem" (click)="thisIs(1)" matRipple>Theme 1</mat-list-item>
    <mat-list-item role="listitem" (click)="thisIs(2)" matRipple>Theme 2</mat-list-item>
    <mat-list-item role="listitem" (click)="thisIs(3)" matRipple>Theme 3</mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
</mat-dialog-actions>